<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/bootstrap.css">
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
    <title>Homepage Authentication</title>
  </head>
  <body>
    
    <div class="form-container container my-5">
        {% include 'partials/flash.twig' %}
    <div class="card">
        <h4 class="card-header">Change Password</h4>
            <div class="card-body">                

                <form method="POST" action="{{ path_for('auth.reset.password') }}" autocomplete="off">
                    {{ csrf.field | raw }}
                    <div class="form-group">
                        <label for="new_password">New Password</label>
                        <input type="password" class="form-control {{ errors.password ? 'is-invalid' : '' }}" name="new_password" id="new_password" placeholder="New Password">
                        {% if errors.new_password %}
                            <small id="passwordHelp" class="form-text text-danger">*{{ errors.new_password | first | replace({'_': ' '}) }}</small>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="cofirm_password">Confirm Password</label>
                        <input type="password" class="form-control {{ errors.cofirm_password ? 'is-invalid' : '' }}" name="cofirm_password" id="cofirm_password" placeholder="Confirm Password">
                        {% if errors.cofirm_password %}
                            <small id="passwordHelp" class="form-text text-danger">*{{ errors.cofirm_password | first }}</small>
                        {% endif %}
                    </div>
                    <input type="hidden" name="email" value="{{ email }}">
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ base_url() }}/assets/js/jquery.min.js"></script>
    <script src="{{ base_url() }}/assets/js/popper.min.js"></script>
    <script src="{{ base_url() }}/assets/js/bootstrap.min.js"></script>
  </body>