<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/bootstrap.css">
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
    <title>Homepage Authentication</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
          <a class="navbar-brand" href="{{ path_for('home') }}">Harmony Framework</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link text-white" href="javascript:;">{{ auth.user.name }}</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Options
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{{ path_for('auth.password.change') }}">Change Password</a>
                  <a class="dropdown-item" href="{{ path_for('auth.signout') }}">Logout</a>
                </div>
              </li>
            </ul>
          </div>
      </div>
    </nav>

    <div style="height: 80vh;" class="d-flex align-items-center">
      <h1 class="display-1 mx-auto">Harmony Auth</h1>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ base_url() }}/assets/js/jquery.min.js"></script>
    <script src="{{ base_url() }}/assets/js/popper.min.js"></script>
    <script src="{{ base_url() }}/assets/js/bootstrap.min.js"></script>
  </body>
</html>